<p id="notice"><%= notice %></p>

<p>
  <strong>Game point:</strong>
  <%= @game.game_point %>
</p>

<p>
  <strong>Team:</strong>
  <%= @game.team.name %>
</p>

<%= link_to 'Edit', edit_team_game_path(@game.team_id, @game.id) %> |
<%= link_to 'Back', team_path(@game.team_id) %>
